
.search__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #search-bar {
    width: 60%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #search-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  #search-btn i {
    font-size: 18px;
  }
  